/*update 21/09/2020--------------------------------*/
.color-line{background:#f7f9fa;height:3px;background-image:-webkit-linear-gradient(left,#34495e,#34495e 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);background-image:-moz-linear-gradient(left,#34495e,#34495e 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);background-image:-ms-linear-gradient(left,#34495e,#34495e 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);background-image:linear-gradient(to right,#34495e,#34495e 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);background-size:100% 6px;background-position:50% 100%;background-repeat:no-repeat}
.clr{clear:both}
#derrInfo textarea,#dupload textarea{width:100%;margin:5px auto;padding:2px;border-radius:3px;height:75px}
#derrInfo .errchk{margin:10px auto;text-align:center}
#derrInfo .errchk label{margin-right:6px;font-weight:bold}
#dupload>div>p{text-align:left;margin-bottom:10px}
#dupload>div>p>span{color:#555;font-size:90%}
#dupload form{width:100%}
#dupload form label{text-align:center;margin:0 auto}
#dupload form a.fname{float:left;color:#555}
#dupload form a.fname:hover{color:RED}
#dupload form span.fattach{float:right}
#dupload iframe{border:none;height:0;width:0}
#dupld{display:none}
#dgmain {max-width:1024px;margin:0 auto}
#wrapper,.content{padding:0;margin:0;min-height:300px !important}
#wrapper{border-left:none}
.hpanel .panel-body{border:none;padding:10px}
.hbreadcrumb{margin:10px 10px 0 10px}
.hbreadcrumb li,.hbreadcrumb a,.hbreadcrumb span{font-size:14px}
.dsoundon i{color:#001}
.dsoundoff i{color:#AAB}
#mbody table td,#mbody table th{border:1px solid black;padding:8px}
#mbody table{width:auto!important}
#mbody img{max-width:100%!important;height:auto!important}
.dchk label{display:inline}
input, button, select, textarea {font-family:"Arial", san-serif, serif;font-size:14px}
#mbody .pHead,#mbody .pBody{text-align:justify}
#dquestion .text-info{border-bottom:solid 1px #EEE;background-color:#FAFAFA;border-radius:4px;padding:1px 3px}
#dquestion .text-info>i{font-style:normal}
.lang1 #dquestion .text-info>i:before{content:'QUESTION'}
.lang2 #dquestion .text-info>i:before,.lang3 #dquestion .text-info>i:before,.lang4 #dquestion .text-info>i:before,.lang5 #dquestion .text-info>i:before{content:'Câu'}
.social #dtasktitle>i{display:none}
/*------------------------------------------------*/
.dgcaptcha{margin:0 auto 5px;text-align:center;min-width:260px}
.dgcaptcha>input{width:138px;height:32px;margin:0 auto;display:block;position:relative;top:11px;font-size:18px;text-align:left;padding:3px}
.dgcaptcha>img{width:138px;height:auto;padding:4px;display:block;position:relative;top:0}
/*------------------------------------------------*/
.dnut{display:none}
.timeTo{width:180px;margin:0 auto}
#mbody{border-bottom:solid 1px #EEE;padding-bottom:15px;min-height:300px}
#mbody .loading{margin:10px auto;text-align:center;padding:10px;border-radius:5px;border:solid 1px #EEE;color:#999}
#mbody .dhelp{text-align:center;margin:5px auto;line-height:20px;padding:5px;color:#111}
#mfooter{margin:6px auto;padding:6px;text-align:center}
#mfooter .btpn{display:none}
/*------------------------------------------------*/
/*.dquestion{}*/
.dquestion .ditem{max-width:1024px;margin:10px auto}
.dquestion .ditem h4{text-align:center;margin:0 auto}
.dquestion .ditem .ques{margin:10px 0;border-top:solid 1px #EEE}
/*.dquestion .ques p{text-align:justify}*/
.dquestion #dquestion label.dred{font-weight:bold;color:RED}
.dquestion #dquestion .ques input{background:transparent}
.dquestion #dquestion .ques>div{padding:5px 10px}
.dquestion #dquestion .ques:hover{background:#F0F0F0}
.dquestion #dquestion .danw{border-top:none;border-left:none;border-right:none;border-bottom:dashed 1px #111;padding:4px;margin:2px;color:RED;width:98%;font-weight:bold}
.dquestion #dquestion .dinline{width:auto}
.dquestion .datrue{border:solid 2px green !important;background:#FEFEFE}
.dquestion .dafalse{border:dotted 1px red !important;background:#FEFEFE}
.dquestion .dhelp p{margin:5px auto}

/*.dvocabulary{}*/
.dvocabulary .minhhoa{width:100px;text-align:center;min-height:100px;margin:0 auto}
.dvocabulary .minhhoa>img{border-radius:8px;max-height:100px;margin:0 auto}
.dvocabulary .daudio{font-size:30px;cursor:pointer}
.dvocabulary .ditem{border:solid 1px #EEE !important;min-height:300px;max-height:500px}
.dvocabulary .ditem>h4{text-align:center;margin:0 auto}
.dvocabulary .ditem>p{text-align:center;margin:0 auto}

/*.dcontent{}*/
.dcontent .ditem{max-width:1024px;margin:10px auto}
.dcontent .ditem .ques{margin:10px 0;border-top:solid 1px #DDD}
/*.dcontent .ditem p{text-align:justify}*/
.dcontent #dquestion{max-height:800px}
.dcontent .dhelp p{margin:5px auto}

/*.dmcq{}*/
.dmcq #dmcq{border:none}
.dmcq #dmcq .clr{clear:both}
.dmcq .dpanel{text-align:center;margin:0 auto;border:solid 1px #EEE;border-radius:5px}
.dmcq .daudio{font-size:45px;cursor:pointer}
.dmcq .dqtit{color:#888;font-weight:bold}
.dmcq .dvoca{display:none}
.dmcq .dvoca.active{display:inline}
.dmcq .dans{margin:10px 8px 0 0;padding:6px;border:solid 1px #EEE;border-radius:5px}
.dmcq .dans:hover{border:solid 1px blue}
.dmcq .dans .dtitle{float:left;font-size:120%;font-weight:bold;padding-top:4px}
.dmcq .dans .dtip{background:#EEE;border-radius:8px;float:left;font-size:150%;font-weight:bold;padding:3px 12px}
.dmcq .dtitle>img,.dmcq .dvoca .dimg>img{max-width:268px !important;max-height:320px !important;margin:0 auto}
.dmcq .dvoca .title{background:#EEE;border:1px solid #eee;border-radius:8px;font-size:250%;font-weight:bold;padding:10px;line-height:110%}
.dmcq .dview{border-radius:6px;background-color:#dff0d8;border-color:#d6e9c6;color:#3c763d;padding:15px;margin:10px 0;min-height:100px}
.dmcq .dview br{clear:both}
.dmcq .sortable {list-style-type:none;padding:0}
.dmcq .sortable li div {padding:8px 13px;background:#3498db;color:white;font-weight:bold;border-radius:10px;font-size:150%;cursor:pointer;margin:5px;width:40px;height:40px}
.dmcq .sortable li {border:none;background:none;margin:0;padding:1px;float:left;text-align:center}

.dmcq.audio-choose-image .dans .dtip{margin:0 8px 0 0}

.dmcq.audio-choose-word .dans,.dmcq.image-choose-word .dans,.dmcq.meaning-choose-word .dans{margin:10px 8px 0 0;padding:6px;border:solid 1px #EEE;border-radius:5px}
.dmcq.audio-choose-word .dans .dtip,.dmcq.image-choose-word .dans .dtip,.dmcq.meaning-choose-word .dans .dtip,.dmcq.word-choose-meaning .dans .dtip{font-size:140%;margin:-4px 8px 0 0}

.dmcq.pronunciation-write-word .dvoca,.dmcq.audio-write-word .dvoca,.dmcq.image-choose-word .dvoca,.dmcq.meaning-choose-word .dvoca,.dmcq.word-choose-image .dvoca{width:680px}
.dmcq.audio-write-word #dmcq{border:none}

.dmcq.image-choose-word .daudio,.dmcq.meaning-choose-word .daudio,.dmcq.word-choose-image .daudio,.dmcq.word-choose-meaning .daudio{display:none}
.dmcq.image-choose-word .dvoca .dimg{text-align:center}

.dmcq.word-choose-image .dvoca .title,.dmcq.word-choose-meaning .dvoca .title{font-size:300%;padding:20px}
.dmcq.word-choose-meaning .dans .dtitle{font-size:135%;padding-top:4px}
.dmcq.audio-choose-image .dans,.dmcq.word-choose-image .dans{float:left;min-height:200px}

@media only screen and (max-width:320px){
    .dmcq.audio-choose-image .dans,.dmcq.word-choose-image .dans{width:278px}
    .dmcq .dtitle>img,.dmcq .dvoca .dimg>img{max-width:200px !important;max-height:200px !important}
}
@media only screen and (min-width:321px) and (max-width:375px){
    .dmcq.audio-choose-image .dans,.dmcq.word-choose-image .dans{width:335px}
}
@media only screen and (max-width:500px){
    #mbody iframe{margin:5px -20px;width:calc(100% + 40px) !important;height:auto !important}
    #mbody iframe.pEmbed{border:solid 1px #BE0000}
}
@media only screen and (min-width:376px) and (max-width:415px){
    #mbody .ques img{max-width:360px;margin:0 auto}
    .dmcq .dtitle>img,.dmcq .dvoca .dimg>img{max-width:320px !important;max-height:320px !important}
    #mbody .dhelp img{max-width:380px !important;height:100% !important}
    #mbody .dhelp table{width:100% !important}
    #mbody .dmedia>iframe{max-width:360px;text-align:center;margin:0 auto}
    .dmcq.audio-choose-image .dans,.dmcq.word-choose-image .dans{width:374px}
}
@media only screen and (min-width:416px) and (max-width:768px){
    .timeTo{float:right;padding-top:8px;margin-right:15px}
    .dmcq.audio-choose-image .dans,.dmcq.word-choose-image .dans{width:350px;height:320px}
}
@media only screen and (min-width:769px) and (max-width:799px){
    .timeTo{float:right;padding-top:8px;margin-right:15px}
}
@media only screen and (min-width:800px) and (max-width:1024px){
    .timeTo{float:left;padding-top:8px}
    .dmcq.audio-choose-image .dans,.dmcq.word-choose-image .dans{width:238px}
    .dmcq .dtitle>img,.dmcq .dvoca .dimg>img{max-width:180px !important;max-height:180px !important}
}
@media only screen and (min-width:1025px){
    .timeTo{float:left;padding-top:8px}
    .dmcq.audio-choose-image .dans,.dmcq.word-choose-image .dans{width:238px}
    .dmcq .dtitle>img,.dmcq .dvoca .dimg>img{max-width:180px !important;max-height:180px !important}
}